include ../layout.jade
    if team
        p #{team.label}
        p #{team.chairman}
        p #{team.fullname}
        p #{team.founded}
        p #{team.league}
        p #{team.ground}
        p #{team.city}
