table(class="table")
  caption Favorites Teams
  thead
    tr
      th Team
  tbody
    each ft in favTeams
        tr
          td
            if infoTag
               a(href='/info/team/#{ft.team_id}') #{ft.team_name}
            else
               a(href='/team/#{ft.team_id}/#{ft.team_name}') #{ft.team_name}
